/*Fuente*/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Montserrat:wght@200;300;400&family=Parisienne&display=swap');
*{
    margin: 0;
}
body{
    background: linear-gradient(to right,#c71515, #a70d0d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    position: absolute;
    width: 80vw;
    height: 70vh;
    border-radius: 30px;
    padding: 45px;
    z-index: 5;
}
/* primera pantalla */
.intro{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: 2.5s animInto forwards;
}
@keyframes animInto {
    0%{visibility: visible;}
    1%{visibility: visible;}
    100%{visibility: hidden;}
}

.intro .contenido{
    position: relative;
    max-width: 300px;
    width: 100%;
    animation: .5s aparecer forwards;
}
@keyframes aparecer {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.intro .barra{
    height: 7px;
    background: #cf6e6e;
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
}
.intro .barra .progreso{
    height: 7px;
    width: 0%;
    background: #ff0000b7;
    animation: 1.6s avanzar forwards linear;
    animation-delay: .3s;
}

@keyframes avanzar {
    0%{width: 0;}
    40%{width: 50%;}
    60%{width: 50%;}
    100%{width: 100%;}
}
.txt{
    font-family: 'Montserrat';
    position: absolute;
    left: 0;
    width: 100%;
    top: -20px;
    font-size: 22px;
    color: #666;
}
.texto1{
    animation: 3s animTexto forwards;
    animation-delay: .3s;
}
@keyframes animTexto {
    0%{opacity: 0;}
    1%{opacity: 1;}
    99%{opacity: 1;}
    100%{opacity: 0;}
}